/* -------------- Set Variables ----------- */
:root {
  /* colors  */
  --blue-color: #C1E7FE;
  --hover-blue-color: #F7FAFD;
  --yellow-color: #ffd302;
  --pink-color: #fe7261;
  --blade-color: #5fa799;
  --white-color: #fcfffd;
  --black-color: #1a1e27;
  --black-variant-color: #161616;
  --black-degraded: #26554d;

  /* font size */
  --default-fontSize: 1.15rem;
  --title-fontSize: 3rem;
  --menu-item-fontSize: var(--default-fontSize);
  --section-title: 2rem;

  /* padding */
  --default-padding: 2rem 4rem;
  --button-padding: 0.8rem 1rem;
  --section-padding: 9rem 0;
  --description-padding: 10rem;

  /* Font Family */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Fraunces", sans-serif;

  /* Border */
  --default-border-radius: 30px;

  /* Transition */
  --transition: all 0.2s ease-in-out;

  /* Responsive */
  @media screen and (max-width: 1024px) {
    /* padding */
    --default-padding: 1rem;
    --button-padding: 0.8rem 1rem;
    --section-padding: 5rem 0;
    --description-padding: 10rem 5rem;

    /* font size */
    --default-fontSize: 1.15rem;
    --title-fontSize: 4rem;
    --menu-item-fontSize: var(--default-fontSize);
    --section-title: 2rem;
  }

  @media screen and (max-width: 768px) {
    /* padding */
    --section-padding: 2rem 0;
    --description-padding: 3rem;
    /* font size */
    --title-fontSize: 2rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--hover-blue-color);
  margin: 8px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list-left {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 240px;
}

.nav__list-left img {
  width: 40px;
  height: 40px;
}

.nav__list-search {
  padding-left: 1rem;
}

.page-title {
  font-size: 24px;
  color: blue;
}

#input-wrapper {
  margin: 24px 0;
}

input {
  padding: 5px;
  width: 240px;
  max-width: 200px;
}

.option-container {
  display: flex;
  align-items: flex-start;
}

.option_btn_register {
  padding: 1rem 0;
}

.option-container-left {
  width: 240px;
}

.btn-register-contact {
  display: flex;
  align-items: center;
  background-color: var(--blue-color);
  border: none;
  padding: 1.5rem;
  height: 40px;
  border-radius: 1rem;
  cursor: pointer;
}

.option_btn_range {
  padding: 6px 12px;
  background-color: var(--blue-color);
  color: white;
  border-radius: 24px;
}

.google__icon {
  width: 200px;
  height: 200px;
}

.btn-range-contact {
  background-color: var(--blue-color);
  border: 0ch;

}

.contact-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
}

.name-initial {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.full-name {
  font-size: 24px;
  margin-left: 8px;
  border-bottom: 1px solid #e3e3e3;
  padding: 6px;
  flex-grow: 1;
}

.dashboard {
  margin: 1rem 0 0 1rem;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--white-color);
  width: calc(100% - 240px);
  height: 85vh;
}

.dashboard-nav-block {
  display: none;
}

.dashboard-nav {
  display: flex;
  align-content: center;
  gap: 8px;
}

.dashboard-nav li {
  width: 20%;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashboard-list li{
  margin-top: 1rem;
}

#entries {
  display: none;
}